.navbar.flex {
    background: @header-background;
    color: @header-color;
    //padding: 0.5rem;
    .display(flex);
    .flex-direction(column);
    line-height: 5rem;
    position: relative;
    z-index: 999;

    @media @tablets {
        .flex-direction(row);
    }
    .navbar-header {
        .display(flex);
        .flex-grow(1);

        .left {
            .flex-grow(1);
        }

        .right {

        }

        .nav-toggle {
            cursor: pointer;
            background: @button-colour;
            padding: 0 1.5rem;
            height: 5rem;
            @media @tablets {
                display: none;
            }
        }
    }

    nav {
        @media @tablets {
            display: inline-block !important;
            float: right;
        }

        &.collapsed {
            display: none;
        }

        ul {
            line-height: 3rem;
            border-top: 0.1rem solid @header-background;
            @media @tablets {
                line-height: 5rem;
                border-top: none;
            }
            li {
                @media @tablets {
                    display: inline-block;
                }

                a {
                    background: @header-background;
                    color: @header-color;
                    display: block;
                    text-decoration: none;
                    @media @tablets {
                        display: inline-block;
                        padding: 0 1rem;
                        border-right: 0.1rem solid #333;
                        transition: 0.3s;
                    }

                    &.active {
                        background: @button-colour;
                        color: @page-color;
                    }
                }
            }
        }
    }
/*

    nav.collapsed-add,
    nav.collapsed-remove {
        transition: 0.3s linear all;
        display: block !important;
    }

    nav.collapsed-add {
        opacity: 1;
    }

    nav.collapsed-add.collapsed-add-active {
        opacity: 0;
    }

    nav.collapsed-remove {
        opacity: 0;
    }

    nav.collapsed-remove.collapsed-remove-active {
        opacity: 1;
    }
*/

}

