.navbar {
    background: @header-background;
    color: @header-color;
    .display(flex);
    .flex-direction(column);
    line-height: 5rem;
    position: relative;
    z-index: 999;

    @media @tablets {
        .flex-direction(row);
    }
    .navbar-header {
        .display(flex);
        .flex-grow(1);

        .left {
            .flex-grow(1);
        }

        .right {

        }

        .nav-toggle {
            cursor: pointer;
            background: @button-colour;
            padding: 0 1.5rem;
            height: 5rem;
            @media @tablets {
                display: none;
            }
        }
    }

    nav {
        &.collapsed {
            display: none;
        }

        ul {
            line-height: 2.2rem;
            @media @tablets {
                line-height: 5rem;
            }
            li {
                @media @tablets {
                    display: inline-block;
                }
            }
        }
    }

    nav.collapsed-add,
    nav.collapsed-remove {
        transition: 0.3s linear all;
        display: block !important;
    }

    nav.collapsed-add {
        opacity: 1;
    }

    nav.collapsed-add.collapsed-add-active {
        opacity: 0;
    }

    nav.collapsed-remove {
        opacity: 0;
    }

    nav.collapsed-remove.collapsed-remove-active {
        opacity: 1;
    }

    a {
        background: @header-background;
        color: @header-color;
        display: block;
        @media @tablets {
            display: inline-block;
        }
    }
}

