<header class="navbar">
    <div class="container" layout="row" layout-sm="column">
        <div class="navbar-header clearfix" layout="row" flex>
            <h1 flex>Kidzy</h1>

            <div ng-if="navBarVm.Auth.isLoggedIn()">
                <span class="user">{{ ::navBarVm.Auth.getCurrentUser().name}}</span>
                <span hide-gt-sm class="nav-toggle" ng-click="navBarVm.isCollapsed = !navBarVm.isCollapsed">
                     <i class="fa fa-lg fa-bars"></i>
                </span>
            </div>
        </div>
        <nav ng-class="{ 'collapsed': navBarVm.isCollapsed}" ng-if="navBarVm.Auth.isLoggedIn()">
            <ul class="items">
                <li class="main">
                    <a ui-sref="main" ui-sref-active="active" ng-click="navBarVm.isCollapsed = true">Main</a>
                </li><li class="log" ng-if="navBarVm.Auth.hasRole('admin')">
                    <a ui-sref="log" ui-sref-active="active" ng-click="navBarVm.isCollapsed = true" >Log</a>
                </li><li class="logout">
                    <a href="#" ng-click="navBarVm.logout()">Logout</a>
                </li>
            </ul>
        </nav>

    </div>
</header>