.register-form {
    .field {
        position: relative;

        input {
            height: 3rem;
        }
        .fa {
            position: absolute;
            right: 1rem;
            top: 0.7rem;
            display: inline;
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}
