.register-form {
    .field {
        /*position: relative;*/

/*
        input {
            height: 3rem;
        }
*/
        i {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            display: inline;
            font-size: 1.6rem;
            line-height: 1;
        }

        i.valid, i.invalid {
            display: none;
        }
    }

    &.ng-valid-username-available .field i.valid {
        display: inline-block;
        color: @success-colour;
    }
    &.ng-invalid-username-available .field i.invalid {
        display: inline-block;
        color: @error-colour;
    }
}

