.kidsList {
    margin-top: 1rem;

    ul li {
        .box-shadow(0 1px 10px rgba(20,20,20,0.5));
        padding: 1rem;
    }
    ul li.add-kid {
        cursor: pointer;
        background: @success-colour;

        i, a {
            line-height: 1rem;
        }

        a {
            color: white;
        }
    }
}
