@font-family: Raleway, Tahoma, Helvetica, sans-serif;
@link-colour: #3333ff;

@page-background: #72ffde;
@page-color: rgba(0, 0, 0, 0.65);

@header-color: #72ffde;
@header-background: #222;

@button-colout: darken(@page-background, 30%);