<section class="login-section">
    <form class="form login-form" id="loginform" name="loginform" novalidate ng-submit="loginVm.submit(loginform.$valid, loginVm.user)">
        <h2>Login</h2>
        <fieldset>
            <span class="error-message" ng-if="loginVm.error">{{loginVm.error.message}}</span>
            <div class="field">
                <input type="email" id="email" name="email" placeholder="Email" required maxlength="50" ng-model="loginVm.user.email"/>
                <span class="error-message email-error" ng-if="loginform.$submitted && loginform.email.$invalid">Please enter a valid email address.</span>
            </div>
            <div class="field">
                <input type="password" id="password" name="password" placeholder="Password" required maxlength="50" ng-model="loginVm.user.password"/>
                <span class="error-message password-error" ng-if="loginform.$submitted && loginform.password.$error.required">Please enter a password.</span>
            </div>
            <input type="submit" class="button"/>
        </fieldset>
    </form>
    <div class="register"> or <a ui-sref="register">Sign up</a> if you are a new user</div>
</section>