<div class="login-section-container view-container" layout="column" layout-align="center center">
    <section class="form-section">
        <form class="form login-form" id="loginform" name="loginform" novalidate
              ng-submit="loginVm.submit(loginform.$valid, loginVm.user)">
            <h2>Login</h2>
            <fieldset>
                <span class="error-message" ng-if="loginVm.error">{{loginVm.error.message}}</span>

                <div class="field" layout="column" layout-align="center center">
                    <md-input-group tabindex="-1" class="md-pink-theme">
                        <label for="username">UserName</label>
                        <md-input type="text" id="username" name="username" required maxlength="50" minlength="6"
                                  ng-model="loginVm.user.username"></md-input>
                    </md-input-group>
                    <span class="error-message username-error" ng-if="loginform.$submitted && loginform.username.$invalid">Please enter a valid user name.</span>
                </div>
                <div class="field" layout="column" layout-align="center center">
                    <md-input-group tabindex="-1" class="md-pink-theme">
                        <label for="password">Password</label>
                        <md-input type="password" id="password" name="password" required maxlength="50"
                                  ng-model="loginVm.user.password"></md-input>
                    </md-input-group>
                    <span class="error-message password-error"
                          ng-if="loginform.$submitted && loginform.password.$error.required">Please enter a password.</span>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary button">Login</md-button>
                </div>
            </fieldset>
        </form>
        <div class="register"> or <a ui-sref="register">Sign up</a> if you are a new user</div>
    </section>
</div>